:host {
  display: block;

  --jelly-radio-group-font-size:    13.5px;
  --jelly-radio-group-column-gap:   20px;
  --jelly-radio-group-row-gap:      14px;
  --jelly-radio-group-legend-gap:   10px;
  --jelly-radio-group-legend-color: var(--jelly-color-foreground-muted);
}

:host([size="small"]),
:host([size="sm"]) {
  --jelly-radio-group-font-size:  12px;
  --jelly-radio-group-column-gap: 16px;
  --jelly-radio-group-row-gap:    10px;
  --jelly-radio-group-legend-gap: 8px;
}

:host([size="medium"]),
:host([size="md"]) {
  --jelly-radio-group-font-size:  13.5px;
  --jelly-radio-group-column-gap: 20px;
  --jelly-radio-group-row-gap:    14px;
  --jelly-radio-group-legend-gap: 10px;
}

:host([size="large"]),
:host([size="lg"]) {
  --jelly-radio-group-font-size:  15px;
  --jelly-radio-group-column-gap: 24px;
  --jelly-radio-group-row-gap:    16px;
  --jelly-radio-group-legend-gap: 12px;
}

.legend {
  font:             650 var(--jelly-radio-group-font-size)/1.3 var(--jelly-font-display);
  color:            var(--jelly-radio-group-legend-color);
  margin-block-end: var(--jelly-radio-group-legend-gap);
}

.legend:empty {
  display: none;
}

.items {
  display:   flex;
  gap:       var(--jelly-radio-group-row-gap) var(--jelly-radio-group-column-gap);
  flex-wrap: wrap;
}

:host([direction="vertical"]) .items {
  flex-direction: column;
}
